<mat-toolbar>
  <span>Quizzes</span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    @if (state.page == 'quizList') {
      <app-quizzes-page
        [quizzesLoaded]="quizzesLoaded || quizzesLoadingFailed"
        [quizzes]="quizzes"
        [showRandomQuizButton]="quizzesLoaded"
        (startQuizPressed)="startQuiz($event)"
        (startRandomQuizPressed)="randomQuiz()" />
    } @else if (state.page == 'question') {
      <app-question
        [questionNumber]="state.questionNumber + 1"
        [totalQuestionCount]="currentQuiz!.questions.length"
        [questionText]="getCurrentQuestionText()"
        [answers]="getCurrentQuestionAnswers()"
        [selectedAnswerIndex]="getSelectedAnswerIndex()"
        [isPreviousQuestionAvailable]="!isFirstQuestion()"
        [isLastQuestion]="isLastQuestion()"
        [isNextButtonDisabled]="!isQuestionAnswered()"
        (_answerSelected)="answerSelected($event)"
        (_previousQuestionClicked)="previousQuestionClicked()"
        (_nextQuestionClicked)="nextQuestionClicked()"
        (_finishQuizClicked)="finishQuizClicked()"
        (_cancelQuizClicked)="cancelQuizClicked()" />
    } @else if (state.page == 'results') {
      <app-results
        [correctCount]="state.correctCount"
        [totalCount]="state.totalCount"
        [timeSpent]="state.timeSpent"
        [points]="state.points"
        (_backToHomePageClicked)="switchToHomePage()" />
    }
    @if (quizzesLoadingFailed) {
      <mat-card appearance="outlined">
        <mat-card-content>
          <p>Error loading quizzes (perhaps due to the 'Too Many Requests' error from Open Trivia Database).</p>
          <p>Reload the page to try again.</p>
        </mat-card-content>
      </mat-card>
    }
  </mat-card-content>
</mat-card>